{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "DoNotModifySelf",
      "Effect": "Deny",
      "NotAction": [
        "iam:GetPolicy",
        "iam:GetPolicyVersion",
        "iam:GetRole",
        "iam:GetRolePolicy",
        "iam:ListRoles",
        "iam:ListRolePolicies",
        "iam:ListAttachedRolePolicies",
        "iam:ListRoleTags",
        "iam:ListPoliciesGrantingServiceAccess",
        "iam:ListEntitiesForPolicy",
        "iam:ListPolicyVersions",
        "iam:GenerateServiceLastAccessedDetails"
      ],
      "Resource": [
        "{{.PrincipalPolicyArn}}",
        "{{.PrincipalRoleArn}}",
        "{{.AdminRoleArn}}"
      ]
    },
    {
      "Sid": "DenyTaggedResourcesAWS",
      "Effect": "Deny",
      "Action": "*",
      "Resource": "*",
      "Condition": {
        "StringEquals": {
          "aws:ResourceTag/AppName": [
            "{{ StringsJoin .PrincipalIAMDenyTags "\", \""}}"
          ]
        }
      }
    },
    {
      "Sid": "DenyIAM",
      "Effect": "Deny",
      "Action": [
        "iam:DeactivateMFADevice",
        "iam:CreateSAMLProvider",
        "iam:UpdateAccountPasswordPolicy",
        "iam:DeleteVirtualMFADevice",
        "iam:EnableMFADevice",
        "iam:CreateAccountAlias",
        "iam:DeleteAccountAlias",
        "iam:UpdateSAMLProvider",
        "iam:DeleteSAMLProvider"
      ],
      "Resource": "*"
    },
    {
      "Sid": "DenySupportCenter",
      "Effect": "Deny",
      "Action": [
        "support:*"
      ],
      "Resource": "*"
    },
    {
      "Sid": "DenySpecificKMSActions",
      "Effect": "Deny",
      "Action": [
        "kms:PutKeyPolicy"
      ],
      "Resource": "*"
    },
    {
      "Sid": "ViewBillingBudgetsQuotas",
      "Effect": "Allow",
      "Action": [
        "aws-portal:ViewBilling",
        "aws-portal:ViewUsage",
        "budgets:ViewBudget",
        "servicequotas:*"
      ],
      "Resource": "*"
    },
    {
      "Sid": "AllowedServices",
      "Effect": "Allow",
      "Action": [
        "*"
      ],
      "Resource": "*",
      "Condition": {
        "StringEquals": {
          "aws:RequestedRegion": [
            {{$first := true}}{{range .Regions}}{{if $first}}{{$first = false}}{{else}},{{end}}"{{.}}"{{end}}
          ]
        }
      }
    }
  ]
}
