{
    "Version": "2012-10-17",
    "Statement": [
      {
        "Sid": "DoNotModifySelf",
        "Effect": "Deny",
        "NotAction": [
          "iam:GetPolicy",
          "iam:GetPolicyVersion",
          "iam:GetRole",
          "iam:GetRolePolicy",
          "iam:ListRoles",
          "iam:ListRolePolicies",
          "iam:ListAttachedRolePolicies",
          "iam:ListRoleTags",
          "iam:ListPoliciesGrantingServiceAccess",
          "iam:ListEntitiesForPolicy",
          "iam:ListPolicyVersions",
          "iam:GenerateServiceLastAccessedDetails"
        ],
        "Resource": [
          "{{.PrincipalPolicyArn}}",
          "{{.PrincipalRoleArn}}",
          "{{.AdminRoleArn}}" 
        ]
      },
      {
        "Sid": "DenyTaggedResourcesAWS",
        "Effect": "Deny",
        "Action": "*",
        "Resource": "*",
        "Condition": {
          "StringEquals": {
            "aws:ResourceTag/AppName": [
              "{{ StringsJoin .PrincipalIAMDenyTags "\", \"" }}"
            ]
          }
        }
      },
      {
        "Sid": "DenyIAM",
        "Effect": "Deny",
        "Action": [
          "iam:DeactivateMFADevice",
          "iam:CreateGroup",
          "iam:DeleteGroup",
          "iam:UpdateUser",
          "iam:UpdateGroup",
          "iam:CreateRoleWithPolicy",
          "iam:DeleteUser",
          "iam:CreateSAMLProvider",
          "iam:CreateUser",
          "iam:RemoveUserFromGroup",
          "iam:AddUserToGroup",
          "iam:UpdateAccountPasswordPolicy",
          "iam:DeleteVirtualMFADevice",
          "iam:EnableMFADevice",
          "iam:CreateAccountAlias",
          "iam:DeleteAccountAlias",
          "iam:UpdateSAMLProvider",
          "iam:ChangePassword",
          "iam:DeleteSAMLProvider"
        ],
        "Resource": "*"
      },
      {
        "Sid": "ViewBillingAndBudgets",
        "Effect": "Allow",
        "Action": [
          "aws-portal:ViewBilling",
          "aws-portal:ViewUsage",
          "budgets:ViewBudget"
        ],
        "Resource": "*"
      },
      {
        "Sid": "AllowedServices",
        "Effect": "Allow",
        "Action": [
          "acm:*",
          "apigateway:*",
          "appstream:*",
          "autoscaling:*",
          "batch:*",
          "cloud9:*",
          "clouddirectory:*",
          "cloudformation:*",
          "cloudfront:*",
          "cloudhsm:*",
          "cloudsearch:*",
          "cloudtrail:*",
          "cloudwatch:*",
          "codebuild:*",
          "codecommit:*", 
          "codedeploy:*", 
          "codepipeline:*",
          "codestar:*",
          "cognito-identity:*",
          "cognito-idp:*",
          "cognito-sync:*",
          "config:*",
          "datapipeline:*",
          "devicefarm:*",
          "dynamodb:*",
          "ec2:*",
          "ecr:*",
          "ecs:*",
          "elasticfilesystem:*",
          "elasticloadbalancing:*",
          "elasticmapreduce:*",
          "elasticbeanstalk:*",
          "elastictranscoder:*",
          "elasticache:*",
          "eks:*",
          "fsx:*",
          "firehose:*",
          "glue:*",
          "iam:*",
          "iot:*",
          "kms:*",
          "kinesis:*",
          "lambda:*",
          "logs:*",
          "mq:*",
          "machinelearning:*",
          "mediaconvert:*",
          "mediapackage:*",
          "mediastore:*",
          "opsworks:*",
          "rds:*",
          "redshift:*",
          "rekognition:*",
          "resource-groups:*",
          "route53:*",
          "s3:*",
          "sns:*",
          "sqs:*",
          "ssm:*",
          "sagemaker:*",
          "secretsmanager:*",
          "servicecatalog:*",
          "storagegateway:*",
          "waf:*",
          "waf-regional:*",
          "workspaces:*",
          "a4b:*",
          "comprehend:*"
        ],
        "Resource": "*",
        "Condition": {
          "StringEquals": {
            "aws:RequestedRegion": [
              "us-east-1",
              "us-west-1"
            ]
          }
        }
      }
    ]
  }
