alabaster==0.7.12
Babel==2.7.0
certifi==2019.11.28
chardet==3.0.4
docutils==0.15.2
future==0.18.2
idna==2.8
imagesize==1.1.0
Jinja2==2.10.3
m2r==0.2.1
MarkupSafe==1.1.1
mistune==0.8.4
packaging==19.2
pkg-resources==0.0.0
Pygments==2.5.2
pyparsing==2.4.5
pytz==2019.3
requests==2.22.0
requests-file==1.4.3
six==1.13.0
snowballstemmer==2.0.0
Sphinx==1.8.5
sphinx-rtd-theme==0.4.3
sphinxcontrib-swaggerdoc==0.1.7
sphinxcontrib-websupport==1.1.2
urllib3==1.25.7
